BanHang/Service References/ServiceManufacturer/Manufacturer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Manufacturer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35139/Manufacturer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35139/Manufacturer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35139/Manufacturer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManufacturer_GetAllManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManufacturer" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_GetAllManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_GetManufacturerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerById" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_GetManufacturerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_GetManufacturerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerByName" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_GetManufacturerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturerByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_AddManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddManufacturer" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_AddManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_UpdateManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturer" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_UpdateManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_DeleteManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturer" />
  </wsdl:message>
  <wsdl:message name="IManufacturer_DeleteManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteManufacturerResponse" />
  </wsdl:message>
  <wsdl:portType name="IManufacturer">
    <wsdl:operation name="GetAllManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/GetAllManufacturer" message="tns:IManufacturer_GetAllManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/GetAllManufacturerResponse" message="tns:IManufacturer_GetAllManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/GetManufacturerById" message="tns:IManufacturer_GetManufacturerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/GetManufacturerByIdResponse" message="tns:IManufacturer_GetManufacturerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/GetManufacturerByName" message="tns:IManufacturer_GetManufacturerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/GetManufacturerByNameResponse" message="tns:IManufacturer_GetManufacturerByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/AddManufacturer" message="tns:IManufacturer_AddManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/AddManufacturerResponse" message="tns:IManufacturer_AddManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/UpdateManufacturer" message="tns:IManufacturer_UpdateManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/UpdateManufacturerResponse" message="tns:IManufacturer_UpdateManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturer/DeleteManufacturer" message="tns:IManufacturer_DeleteManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturer/DeleteManufacturerResponse" message="tns:IManufacturer_DeleteManufacturer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManufacturer" type="tns:IManufacturer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllManufacturer">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/GetAllManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerById">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/GetManufacturerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerByName">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/GetManufacturerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddManufacturer">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/AddManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManufacturer">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/UpdateManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteManufacturer">
      <soap:operation soapAction="http://tempuri.org/IManufacturer/DeleteManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Manufacturer">
    <wsdl:port name="BasicHttpBinding_IManufacturer" binding="tns:BasicHttpBinding_IManufacturer">
      <soap:address location="http://localhost:35139/Manufacturer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>