BanHang/Service References/ServiceSaveDate/Save_Date1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35139/Save_Date.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
  <xs:element name="GetAllSaveDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSaveDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetAllSaveDateResult" nillable="true" type="q1:ArrayOfsave_date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveDateWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveDateWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetSaveDateWithIdResult" nillable="true" type="q2:save_date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveDateWithIdSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_save" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaveDateWithIdSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetSaveDateWithIdSaveResult" nillable="true" type="q3:ArrayOfsave_date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaveDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="s" nillable="true" type="q4:save_date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaveDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSaveDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaveDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="s" nillable="true" type="q5:save_date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaveDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSaveDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaveDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaveDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSaveDateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>