BanHang/Service References/ServiceRole/Role1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35139/Role.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfrole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="role" nillable="true" type="tns:role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrole" nillable="true" type="tns:ArrayOfrole" />
  <xs:complexType name="role">
    <xs:sequence>
      <xs:element minOccurs="0" name="add_role" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="delete_role" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="describe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="read_role" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="update_role" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="users" nillable="true" type="tns:ArrayOfuser" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="role" nillable="true" type="tns:role" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="export_bill" nillable="true" type="tns:ArrayOfexport_bill" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_role" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="tns:role" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfexport_bill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="export_bill" nillable="true" type="tns:export_bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfexport_bill" nillable="true" type="tns:ArrayOfexport_bill" />
  <xs:complexType name="export_bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="export_bill_detail" nillable="true" type="tns:ArrayOfexport_bill_detail" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="total_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="export_bill" nillable="true" type="tns:export_bill" />
  <xs:complexType name="ArrayOfexport_bill_detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="export_bill_detail" nillable="true" type="tns:export_bill_detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfexport_bill_detail" nillable="true" type="tns:ArrayOfexport_bill_detail" />
  <xs:complexType name="export_bill_detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="export_bill" nillable="true" type="tns:export_bill" />
      <xs:element minOccurs="0" name="id_export_bill" type="xs:int" />
      <xs:element minOccurs="0" name="id_product" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="product" nillable="true" type="tns:product" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="export_bill_detail" nillable="true" type="tns:export_bill_detail" />
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element minOccurs="0" name="export_bill_detail" nillable="true" type="tns:ArrayOfexport_bill_detail" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_manufacturer" type="xs:int" />
      <xs:element minOccurs="0" name="id_save" type="xs:int" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="import_bill_detail" nillable="true" type="tns:ArrayOfimport_bill_detail" />
      <xs:element minOccurs="0" name="manufacturer" nillable="true" type="tns:manufacturer" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="product_info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sale_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="save" nillable="true" type="tns:save" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="product" nillable="true" type="tns:product" />
  <xs:complexType name="ArrayOfimport_bill_detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="import_bill_detail" nillable="true" type="tns:import_bill_detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfimport_bill_detail" nillable="true" type="tns:ArrayOfimport_bill_detail" />
  <xs:complexType name="import_bill_detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_import_bill" type="xs:int" />
      <xs:element minOccurs="0" name="id_product" type="xs:int" />
      <xs:element minOccurs="0" name="import_bill" nillable="true" type="tns:import_bill" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="product" nillable="true" type="tns:product" />
      <xs:element minOccurs="0" name="purchase_price" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="import_bill_detail" nillable="true" type="tns:import_bill_detail" />
  <xs:complexType name="import_bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_manufacturer" type="xs:int" />
      <xs:element minOccurs="0" name="import_bill_detail" nillable="true" type="tns:ArrayOfimport_bill_detail" />
      <xs:element minOccurs="0" name="manufacturer" nillable="true" type="tns:manufacturer" />
      <xs:element minOccurs="0" name="total_price" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="import_bill" nillable="true" type="tns:import_bill" />
  <xs:complexType name="manufacturer">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="import_bill" nillable="true" type="tns:ArrayOfimport_bill" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="products" nillable="true" type="tns:ArrayOfproduct" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="manufacturer" nillable="true" type="tns:manufacturer" />
  <xs:complexType name="ArrayOfimport_bill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="import_bill" nillable="true" type="tns:import_bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfimport_bill" nillable="true" type="tns:ArrayOfimport_bill" />
  <xs:complexType name="ArrayOfproduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="product" nillable="true" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproduct" nillable="true" type="tns:ArrayOfproduct" />
  <xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="content_save" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percent_save" type="xs:int" />
      <xs:element minOccurs="0" name="products" nillable="true" type="tns:ArrayOfproduct" />
      <xs:element minOccurs="0" name="save_date" nillable="true" type="tns:ArrayOfsave_date" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="save" nillable="true" type="tns:save" />
  <xs:complexType name="ArrayOfsave_date">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="save_date" nillable="true" type="tns:save_date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsave_date" nillable="true" type="tns:ArrayOfsave_date" />
  <xs:complexType name="save_date">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_save" type="xs:int" />
      <xs:element minOccurs="0" name="save" nillable="true" type="tns:save" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="save_date" nillable="true" type="tns:save_date" />
</xs:schema>