BanHang/Service References/ServiceRole/Role.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Role" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35139/Role.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35139/Role.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35139/Role.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRole_GetAllRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRole" />
  </wsdl:message>
  <wsdl:message name="IRole_GetAllRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRole_GetRoleWithId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleWithId" />
  </wsdl:message>
  <wsdl:message name="IRole_GetRoleWithId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRole_AddRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="IRole_AddRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRole_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IRole_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRole_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IRole_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRole">
    <wsdl:operation name="GetAllRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRole/GetAllRole" message="tns:IRole_GetAllRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRole/GetAllRoleResponse" message="tns:IRole_GetAllRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleWithId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRole/GetRoleWithId" message="tns:IRole_GetRoleWithId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRole/GetRoleWithIdResponse" message="tns:IRole_GetRoleWithId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRole/AddRole" message="tns:IRole_AddRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRole/AddRoleResponse" message="tns:IRole_AddRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRole/UpdateRole" message="tns:IRole_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRole/UpdateRoleResponse" message="tns:IRole_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRole/DeleteRole" message="tns:IRole_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRole/DeleteRoleResponse" message="tns:IRole_DeleteRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRole" type="tns:IRole">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRole">
      <soap:operation soapAction="http://tempuri.org/IRole/GetAllRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleWithId">
      <soap:operation soapAction="http://tempuri.org/IRole/GetRoleWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/IRole/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IRole/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IRole/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Role">
    <wsdl:port name="BasicHttpBinding_IRole" binding="tns:BasicHttpBinding_IRole">
      <soap:address location="http://localhost:35139/Role.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>