BanHang/Service References/ServiceProduct/Product2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35139/Product.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q1:product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetAllProductResult" nillable="true" type="q2:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByNameResult" nillable="true" type="q3:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdManu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idManu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdManuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByIdManuResult" nillable="true" type="q4:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByNameManu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameManu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByNameManuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByNameManuResult" nillable="true" type="q5:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdManuAndNameProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idManu" type="xs:int" />
        <xs:element minOccurs="0" name="namePro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdManuAndNameProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByIdManuAndNameProductResult" nillable="true" type="q6:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductOrByNameManu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nManu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductOrByNameManuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetAllProductOrByNameManuResult" nillable="true" type="q7:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetNewProductResult" nillable="true" type="q8:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductSaveResult" nillable="true" type="q9:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_save" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetProductByIdSaveResult" nillable="true" type="q10:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="product" nillable="true" type="q11:product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="product" nillable="true" type="q12:product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>