BanHang/Service References/ServiceProduct/Product.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Product" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35139/Product.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35139/Product.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35139/Product.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduct_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetAllProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetAllProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByName" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdManu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdManu" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdManu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdManuResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByNameManu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameManu" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByNameManu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameManuResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdManuAndNameProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdManuAndNameProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdManuAndNameProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdManuAndNameProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetAllProductOrByNameManu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductOrByNameManu" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetAllProductOrByNameManu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductOrByNameManuResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductSave_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSave" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdSave_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdSave" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByIdSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProduct_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduct">
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductById" message="tns:IProduct_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByIdResponse" message="tns:IProduct_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetAllProduct" message="tns:IProduct_GetAllProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetAllProductResponse" message="tns:IProduct_GetAllProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByName" message="tns:IProduct_GetProductByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByNameResponse" message="tns:IProduct_GetProductByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdManu">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByIdManu" message="tns:IProduct_GetProductByIdManu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByIdManuResponse" message="tns:IProduct_GetProductByIdManu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByNameManu">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByNameManu" message="tns:IProduct_GetProductByNameManu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByNameManuResponse" message="tns:IProduct_GetProductByNameManu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdManuAndNameProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByIdManuAndNameProduct" message="tns:IProduct_GetProductByIdManuAndNameProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByIdManuAndNameProductResponse" message="tns:IProduct_GetProductByIdManuAndNameProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductOrByNameManu">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetAllProductOrByNameManu" message="tns:IProduct_GetAllProductOrByNameManu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetAllProductOrByNameManuResponse" message="tns:IProduct_GetAllProductOrByNameManu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetNewProduct" message="tns:IProduct_GetNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetNewProductResponse" message="tns:IProduct_GetNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductSave" message="tns:IProduct_GetProductSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductSaveResponse" message="tns:IProduct_GetProductSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByIdSave" message="tns:IProduct_GetProductByIdSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByIdSaveResponse" message="tns:IProduct_GetProductByIdSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/AddProduct" message="tns:IProduct_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/AddProductResponse" message="tns:IProduct_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/UpdateProduct" message="tns:IProduct_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/UpdateProductResponse" message="tns:IProduct_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/DeleteProduct" message="tns:IProduct_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/DeleteProductResponse" message="tns:IProduct_DeleteProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduct" type="tns:IProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdManu">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByIdManu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByNameManu">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByNameManu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdManuAndNameProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByIdManuAndNameProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductOrByNameManu">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetAllProductOrByNameManu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSave">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByIdSave">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByIdSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProduct/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="BasicHttpBinding_IProduct" binding="tns:BasicHttpBinding_IProduct">
      <soap:address location="http://localhost:35139/Product.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>