BanHang/Service References/ServiceImportBill_Detail/ImportBill_Detail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35139/ImportBill_Detail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
  <xs:element name="GetAllImportBill_Detail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImportBill_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetAllImportBill_DetailResult" nillable="true" type="q1:ArrayOfimport_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByIdProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByIdProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetImportBill_DetailByIdProductResult" nillable="true" type="q2:ArrayOfimport_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByIdImportBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importBillId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByIdImportBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetImportBill_DetailByIdImportBillResult" nillable="true" type="q3:ArrayOfimport_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByBothId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="importBillId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportBill_DetailByBothIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="GetImportBill_DetailByBothIdResult" nillable="true" type="q4:import_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImportBill_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="i" nillable="true" type="q5:import_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImportBill_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddImportBill_DetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImportBill_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" minOccurs="0" name="i" nillable="true" type="q6:import_bill_detail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImportBill_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateImportBill_DetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImportBill_DetailByBothId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idP" type="xs:int" />
        <xs:element minOccurs="0" name="idI" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImportBill_DetailByBothIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImportBill_DetailByBothIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>