BanHang/Service References/ServiceImportBill_Detail/ImportBill_Detail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportBill_Detail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35139/ImportBill_Detail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35139/ImportBill_Detail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35139/ImportBill_Detail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QLBH_PHONE_SERVICE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportBill_Detail_GetAllImportBill_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImportBill_Detail" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetAllImportBill_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllImportBill_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByIdProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByIdProduct" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByIdProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByIdProductResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByIdImportBill_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByIdImportBill" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByIdImportBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByIdImportBillResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByBothId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByBothId" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_GetImportBill_DetailByBothId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportBill_DetailByBothIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_AddImportBill_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImportBill_Detail" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_AddImportBill_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImportBill_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_UpdateImportBill_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImportBill_Detail" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_UpdateImportBill_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateImportBill_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_DeleteImportBill_DetailByBothId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImportBill_DetailByBothId" />
  </wsdl:message>
  <wsdl:message name="IImportBill_Detail_DeleteImportBill_DetailByBothId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImportBill_DetailByBothIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportBill_Detail">
    <wsdl:operation name="GetAllImportBill_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/GetAllImportBill_Detail" message="tns:IImportBill_Detail_GetAllImportBill_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/GetAllImportBill_DetailResponse" message="tns:IImportBill_Detail_GetAllImportBill_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByIdProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdProduct" message="tns:IImportBill_Detail_GetImportBill_DetailByIdProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdProductResponse" message="tns:IImportBill_Detail_GetImportBill_DetailByIdProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByIdImportBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdImportBill" message="tns:IImportBill_Detail_GetImportBill_DetailByIdImportBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdImportBillResponse" message="tns:IImportBill_Detail_GetImportBill_DetailByIdImportBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByBothId">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByBothId" message="tns:IImportBill_Detail_GetImportBill_DetailByBothId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByBothIdResponse" message="tns:IImportBill_Detail_GetImportBill_DetailByBothId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImportBill_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/AddImportBill_Detail" message="tns:IImportBill_Detail_AddImportBill_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/AddImportBill_DetailResponse" message="tns:IImportBill_Detail_AddImportBill_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImportBill_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/UpdateImportBill_Detail" message="tns:IImportBill_Detail_UpdateImportBill_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/UpdateImportBill_DetailResponse" message="tns:IImportBill_Detail_UpdateImportBill_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImportBill_DetailByBothId">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportBill_Detail/DeleteImportBill_DetailByBothId" message="tns:IImportBill_Detail_DeleteImportBill_DetailByBothId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportBill_Detail/DeleteImportBill_DetailByBothIdResponse" message="tns:IImportBill_Detail_DeleteImportBill_DetailByBothId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportBill_Detail" type="tns:IImportBill_Detail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllImportBill_Detail">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/GetAllImportBill_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByIdProduct">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByIdImportBill">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByIdImportBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportBill_DetailByBothId">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/GetImportBill_DetailByBothId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImportBill_Detail">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/AddImportBill_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImportBill_Detail">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/UpdateImportBill_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImportBill_DetailByBothId">
      <soap:operation soapAction="http://tempuri.org/IImportBill_Detail/DeleteImportBill_DetailByBothId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportBill_Detail">
    <wsdl:port name="BasicHttpBinding_IImportBill_Detail" binding="tns:BasicHttpBinding_IImportBill_Detail">
      <soap:address location="http://localhost:35139/ImportBill_Detail.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>